*{
    --main-white: #f0f0f0;
    --main-red: #be3144;
    --main-blue: #45567d;
    --main-gray: #303841;
    color: var(--main-white);
  }
  
  h1{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align:center;
    font-size: 45px;
  }
  
  body{
    margin: 0;
    padding: 0;
    background-color: var(--main-gray);
    overflow-x: hidden;
  }
  
  
  /* NAVIGATION BAR */
  
  #navbar {
    width: 100%;
    height: 10px;
    background-color: blue;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  #header{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    height: 75px;
    justify-content: end;
    background-color: var(--main-red);
    font-size: 20px;
  }
  
  #nav-link{
    text-decoration: none;
    padding-top: 25px;
    padding-right: 20px;
    background-color: transparent;
  }
  
  /* WELCOME SECTION */
  
  #welcome-section{
    position: static;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 75px;
    padding: 0;
    max-height: 100%;
    height: 100%;
  }
  
  #welcome-section > h1{
    padding-top: 20%;
    /* background-color: blue; */
    text-align: center;
  }
  
  #welcome-section > p{  
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    color: var(--main-red);
    font-style: italic;
  }
  
  /* projects-section */
  
  #projects{
    display:inline-block;
    position: static;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    max-height: 100%;
    /* background-color: blue; */
    background-color: var(--main-blue);
  }
  
  #projects > h1{
    text-align: center;
    margin-top: 5%;
    background-color: transparent;
    margin-bottom: 8px;
  }
  #projects > hr{
    max-width: 80%;
    width: 600px; 
  }
  
  .project-tile{
    text-decoration: none;
  }
  
  #project-tile-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    gap: 40px;
    max-height: 50%;
  }
  
  .project-tile img{
    display: inline-block;
    width: 100%;
    max-width: 350px;
    height: 300px;
  
  }
  
  .project-tile p{
    background-color: var(--main-gray);
    height: 10%;
    margin: 0;
    text-align: center;
    padding-top: 3%;
  }
  
  .project-tile-code{
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project-tile:hover .project-tile-code{
    color: #ff7f50;
  }
  
  /* end section */
  
  .end-section{
    padding-top: 20%;
    height: 50%;
    max-height: 50%;
    text-align: center;
  }
  .contact-details i{
    /* background-color: yellow; */
    width: 10px;
    height: 10px;
    padding-right: 10px;
  }
  
  .fa-cannabis {
    padding-left: 5px;
  }
  
  .fa-circle-info{
    padding-right: 5px;
  }
  .contact-details{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    padding-left: 25px;
    margin-top: 20px;
  }
  
  .btn:hover {
    transform: translateY(2px);
    transition: transform 0.3s ease-out;
  }
  
  /* footer */
  
  footer{
    margin: 20px auto;
  }
  
  #footer-line{
    color: var(--main-red);
    background-color: var(--main-red);
    width: 100%;
    max-width: 100%;
    height: 3px;
  }
  
  footer > p{
    display: inline-block;
    padding-left: 25%;
    font-style: italic;
  }
  
  @media (width > 2000px){
    size: 2px;
  }